.adminContainer{
    width: 80%;
    max-width: 500px;
    .search{
        width: 80%;
    }
}
.tag{
    & input.error{
        border-color: #b71212;
        transition: border-color .5s linear; 
    }
    margin: .2em 0;
    padding: .2em;
    line-height: 2.3em;
    transition: background-color .5s linear;
    cursor: text;
    & .btn{
        width: 2.3em;
    }
    & div.tagText{
        padding: 0 .9em;
        overflow: auto;
    }
    & div.inputWrapper{
        overflow: auto;
        display: none;
    }
    &:hover{
        transition: background-color .1s linear;
        background-color: #efefef;
        &>div{
            &.tagText:after{
                content: "✎";
                transform: scaleX(-1);
                padding: 0 1em;
                display: inline-block;
            }
        }
    }
}
.left{
    float: left;
}
.right{
    float: right;
}