.adminContainer{
    width: 80%;
    max-width: 500px;
    .search{
        width: 80%;
    }
}
.tag{
    margin: .2em 0;
    padding: .2em;
    line-height: 2.3em;
    transition: background-color .5s linear;
    &:hover{
        transition: background-color .1s linear;
        background-color: #efefef;
    }
}